.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  background-color: #fafafa;
}

mat-expansion-panel {
  margin: 0 !important;
}

mat-expansion-panel-header {
  display: flex;
  align-items: center;
}

mat-icon {
  margin-right: 8px;
}
