<mat-toolbar color="primary">
  <span>Asignacion de Colaboradores</span>
</mat-toolbar>

<div class="container" style="padding: 16px;">
  <app-custom-form 
    [title]="popupOptions.title" 
    [isVisible]="popupOptions.visible" 
    height="auto"
    style="max-width: 1000px; margin: auto;">
    <form [formGroup]="_form" class="form-container">
        <div class="form-field">
          <label>Colaborador</label>
          <dx-select-box formControlName="colaboradorId" 
                         [dataSource]="collaborators" 
                         displayExpr="nombreCompleto" 
                         valueExpr="colaboradorId" 
                         placeholder="Seleccionar colaborador" 
                         [isRequired]="true">
          </dx-select-box>
          <div class="error-message" *ngIf="_form.get('colaboradorId')?.invalid && (_form.get('colaboradorId')?.dirty || _form.get('colaboradorId')?.touched)">
            <span *ngIf="_form.get('colaboradorId')?.errors?.['required']">El colaborador es requerido.</span>
          </div>
        </div>

        <div class="form-field">
          <label>Scursal</label>
          <dx-select-box formControlName="sucursalId" 
                         [dataSource]="sucursales" 
                         displayExpr="nombre" 
                         valueExpr="sucursalId" 
                         placeholder="Seleccionar sucursal" 
                         [isRequired]="true">
          </dx-select-box>
          <div class="error-message" *ngIf="_form.get('sucursalId')?.invalid && (_form.get('sucursalId')?.dirty || _form.get('sucursalId')?.touched)">
            <span *ngIf="_form.get('sucursalId')?.errors?.['required']">La sucursal es requerida.</span>
          </div>
        </div>

        <div class="form-field">
          <label>Activo</label>
          <dx-check-box formControlName="activo" text="Activo" [isRequired]="true"></dx-check-box>
        </div>
       
      <div class="form-buttons">
        <dx-button text="Guardar" type="success" (click)="onSave()" [useSubmitBehavior]="true"></dx-button>
        <dx-button text="Cerrar" type="danger" (click)="onClosePopup()" [useSubmitBehavior]="true"></dx-button>
      </div>
    </form>
  </app-custom-form>
  
  <div style="margin-bottom: 16px;">
    <dx-button text="Nuevo Colaborador" hint="Nuevo Colaborador" icon="add" type="success" (click)="onEditShow(null)"></dx-button>
  </div>

  <mat-card>
    <mat-card-title>Listado de Colaboradores</mat-card-title>
    <mat-card-content>
      <dx-data-grid [dataSource]="listEntities" [showBorders]="true" [columnAutoWidth]="true">
        <dxi-column dataField="colaboradorsucursalId" caption="ID" width="50"></dxi-column>
        <dxi-column dataField="nombreColaborador" caption="Nombre Colaborador"></dxi-column>
        <dxi-column dataField="nombreSucursal" caption="Nombre Sucursal"></dxi-column>
        <dxi-column dataField="distanciaKilometro" caption="Distancia (km)"></dxi-column>
        <dxi-column dataField="activo" caption="Activo" dataType="boolean"></dxi-column>
        <dxi-column dataField="fechaCrea" caption="Fecha Creación" dataType="date"></dxi-column>
       
      </dx-data-grid>
    </mat-card-content>
  </mat-card>
  
  
</div>
